/* .container{
    text-align: center;
    margin-top: 23px;
} */
table{
    margin: auto;
}

input{
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

button{
    font-size: 23px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}
.container{
    
    
    width: 300px;
    text-align: center;
    margin-top: 40px;
    /* Added the border */
    border: 1px solid black;
    /* Added the padding */
    padding: 10px;
    /* Added the border-radius */
    border-radius: 10px;
    /* Bring div center */
    margin-left: auto;
    margin-right: auto;


}
@media screen and (max-width: 600px) {
    .container{
        max-width: 100%;
    }

}
    
